<nb-layout>

  <nb-layout-header fixed>
    <h1>Chat between user and admin </h1>
    <div class="left" *ngIf="auth.user$ | async as user; else loginButton">
      <button nbButton status="danger" (click)="auth.signOut()">Close Chat</button>
    </div>
    <ng-template #loginButton>
      <button class="left" nbButton (click)="startChat()">Start Chatting</button>
    </ng-template>
  </nb-layout-header>

  <nb-layout-column>
    <div *ngIf="auth.user$ | async as user">
      <app-chat [sessionId]="user.uid" title="Sending messages to admin" sender="User" receiver="Admin"></app-chat>    
    </div>
  </nb-layout-column>

  <nb-layout-column>

    <div *ngIf="auth.user$ | async as user">
      <app-chat [sessionId]="user.uid" title="Sending messages to user" sender="Admin" receiver="User"></app-chat>
    </div>
    
  </nb-layout-column>


</nb-layout>
